<div
  class="input {{if isDragging 'input--dragging'}}"
  style="{{{concat 'padding-left: ' value '%'}}}"
>
  <button class="input_knob">
    <i data-mi="arrow_left"></i>
    <i data-mi="arrow_right"></i>
  </button>
</div>
