<div class="row">
  <div id={{componentId}} class="row_container" style={{html-safe (concat 'transform: translateX(-' rowOffset 'px)')}}>
    {{#each _products as |product|}}
      <div class="row_container_product">
        <img class="row_container_product_image" src="https://place-hoff/200/200">
      </div>
    {{/each}}
  </div>
</div>
