<div class="ui grid container">
  <div class="sixteen wide column">
    <div class="ui secondary menu">
      {{#link-to 'index' classNames='item'}}
      Home
      {{/link-to}}

      {{#link-to 'roulette' classNames='item'}}
      Roulette
      {{/link-to}}
    </div>

    {{outlet}}
  </div>
</div>
